<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    android:padding="16dp">

    <!-- input 1 -->
    <EditText
        android:id="@+id/etAngka1"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:hint="Masukkan angka pertama"
        android:inputType="numberDecimal"/>

    <!-- input 2 -->
    <EditText
        android:id="@+id/etAngka2"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:hint="Masukkan angka Kedua"
        android:inputType="numberDecimal"/>

    <!-- RadioGroup untuk operasi -->
    <RadioGroup
        android:id="@+id/rgOperasi"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="horizontal">

        <RadioButton
            android:id="@+id/rbTambah"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="+"/>

        <RadioButton
            android:id="@+id/rbKurang"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="-"/>

        <RadioButton
            android:id="@+id/rbKali"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="*"/>

        <RadioButton
            android:id="@+id/rbBagi"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="/"/>
    </RadioGroup>

    <!-- Button Hitung -->
    <Button
        android:id="@+id/btnHitung"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="Hitung"/>

    <!-- Message Error -->
    <TextBiew
        android:id="@+id/tvError"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:textColor="#FF0000"
        android:visibility="gone"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KalkulatorSederhana"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KalkulatorSederhana">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</LinearLayout>